<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= RESTAURANT.name %></title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Home Page</h1>
    <h2><%= RESTAURANT.name %></h2>
    <h2><%= RESTAURANT.address %></h2>
    <h2><%= RESTAURANT.phone %></h2>
    <% restaurantIsOpen = true; %>
    <% if(restaurantIsOpen){ %>
        <h3>We are Open!</h3>
    <% } else { %>
        <h3>We are Closed!</h3>
    <% } %>
     
</body>
</html>